.container
{
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  margin-top: 100px;
  box-sizing: border-box;
}

.container-inner
{
  padding: 20px;
  box-sizing: border-box;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.form-group
{
  display: flex;
}

.form-control
{
  padding: 10px;
}
